<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="popup">
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="rollNo" placeholder="Roll No" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
        <a href="/signin" class="cancel-link">Cancel</a>
    </form>
</div>
</body>
</html>
